server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/dwanj_cex?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.remus.dwanjcex.wallet.entity
  configuration:
    map-underscore-to-camel-case: true
data:
  redis:
    host: 127.0.0.1
    port: 6379
    lettuce:
      pool:
        max-active: 10
        max-idle: 5
        min-idle: 1
        max-wait: 1000ms

kafka:
  bootstrap-servers: 127.0.0.1:9092
  consumer:
    group-id: my-group
    auto-offset-reset: earliest
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.StringSerializer

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    display-request-duration: true

logging:
  level:
    org.mybatis: info
    com.remus.dwanjcex.wallet.mapper: info
    org.apache.kafka.clients.producer: WARN